<footer class="frame bg-black" id="footer">
  <div class="container">
    <div class="row">
      <div class="col x1-fourth spacer-top">
        <section>
          <header>
            <h5 class="c-black">Downloads</h5>
          </header>
          <ul>
            <li><a href="https://github.com/scala-network/scala-electron-gui/releases" target="_blank">GUI Wallet</a></li>
            <li><a href="https://github.com/scala-network/Scala/releases" target="_blank">CLI Wallet</a></li>
            <li><a href="https://github.com/scala-network/XLArig/releases" target="_blank">CLI Miner</a></li>
          </ul>
        </section>
      </div>
      <div class="col x1-fourth spacer-top">
        <section>
          <header>
            <h5 class="c-black">Essentials</h5>
          </header>
          <ul>
            <li><a href="/prove">Prove Transactions</a></li>
            <li><a href="https://explorer.scalaproject.io/">Explorer</a></li>
            <li><a href="https://scalaproject.io/paper-wallet.html">Paper Wallet</a></li>
            <li><a href="https://miningpoolstats.stream/scala">Mining Pools</a></li>
          </ul>
        </section>
      </div>
      <div class="col x1-fourth spacer-top">
        <section>
          <header>
            <h5 class="c-black">Plugins</h5>
          </header>
          <ul>
            <li><a href="https://github.com/scala-network/stellite-card-reader" target="_blank">Point of Sales</a></li>
            <li><a href="https://github.com/scala-network/ScalaPay-Merchant-NPM" target="_blank">ScalaPay NPM</a></li>
            <li><a href="https://github.com/scala-network/XTC-Stats" target="_blank">Monitoring Tool</a></li>
          </ul>
        </section>
      </div>
      <div class="col x1-fourth spacer-top">
        <section>
          <header>
            <h5 class="c-black">Exchanges</h5>
          </header>
          <ul>
            <li><a href="https://tradeogre.com/exchange/LTC-XLA" target="_blank">Tradeogre LTC</a></li>
            <li><a href="https://tradeogre.com/exchange/BTC-XLA" target="_blank">Tradeogre BTC</a></li>
            <li><a href="https://app.stex.com/en/trade/pair/BTC/XLA/" target="_blank">Stex</a></li>
          </ul>
        </section>
      </div>
    </div>
    <div class="row spacer-top">
      <section>
        <header>
          <h5 class="c-black fat">Join the community</h5>
        </header>
        <a href="https://medium.com/scala-network" target="_blank" class="button bg-grey mobi-full-width c-white"><i class="fab fa-medium"></i> Medium</a>
        <a href="https://twitter.com/scalahq" target="_blank" class="button bg-grey mobi-full-width c-white"><i class="fab fa-twitter"></i> Twitter</a>
        <a href="https://t.me/scalaNews" target="_blank" class="button bg-grey mobi-full-width c-white"><i class="fab fa-telegram"></i> Telegram</a>
        <a href="https://discordapp.com/invite/djAFVvy" target="_blank" class="button bg-grey mobi-full-width c-white"><i class="fab fa-discord"></i> Discord</a>
        <a href="https://github.com/scala-network/" target="_blank" class="button bg-green mobi-full-width right"><i class="fab fa-github"></i> Contribute on GitHub</a>
      </section>
    </div>
  </div>
</footer>

<script src="/js/app.js"></script>