<div class="top-fix bg-nav full-width">
  <div class="container">
    <nav>
      <div class="row">
        <div class="no-lh">
          <a href="/">
            <img src="/img/logo.svg" height="32px" class="left spacer-top">
          </a>
          <h1 class="h5 c-white fat left spacer-top fbold">Scala Explorer</h1>
        </div>
      </div>
    </nav>
  </div>
</div>