<div class="row">
  <div class="push-top">
    <section>
      <div class="search-bar">
        <div class="input-field">
          <input type="text" class="bg-black full-width" id="chain_data" placeholder="Height, Transaction or Block Hash...">
        </div>
        <div class="input-button">
          <button class="button bg-blue" onclick="goSearch();" id="search-button"><i class="fas fa-search no-margin"></i></button>
        </div>
      </div>
    </section>
  </div>
</div>